# build files
build

# clion specific
.idea
cmake-build-debug
cmake-build-release

# images for recognition
imgs/*
!imgs/README.md

# machine learning models
mtCNNModels/*
!mtCNNModels/README.md
facenetModels/*
!facenetModels/README.md
